In [ ]:
#1.	Write a Python program to find sum of elements in list?

In [ ]:
l1 = [20,35,64,874,"ineuron","pune",254.33]

sum = 0
for i in l1:
  if type(i) == int or type(i) == float :
    sum = sum + i
print("sum of elements in list: ",sum)

sum of elements in list:  1247.33

In [ ]:
#2.	Write a Python program to  Multiply all numbers in the list?

In [ ]:
l2 = [20,35,64,874,"ineuron","pune",254.33,35,66,8745]

mult = 1
for i in l2:
  if type(i) == int or type(i) == float :
    mult = mult * i
print("Multiplication of elements in list: ",mult)

Multiplication of elements in list:  2.011679691481152e+17

In [ ]:
#3.	Write a Python program to find smallest number in a list?

In [ ]:
l5 = [225,35,8,874,"ineuron","pune",254.33,35,3.2,8745]

for i in l5 :
  if type(i) == int or type(i) == float :
    if i <= l5[0] :
      min = i
      
    
print(min,"is min number")

3.2 is min number

In [ ]:
#4.	Write a Python program to find largest number in a list?

In [ ]:
l6 = [225,35,8,874,"ineuron","pune",254.33,35,3.2,8745]

for i in l6 :
  if type(i) == int or type(i) == float :
    if i >= l6[0] :
      max = i
      
    
print(max,"is max number")

8745 is max number

In [ ]:
#5.	Write a Python program to find second largest number in a list?

In [ ]:
mylist = [10,11,24,23,120,6,3]
mylist.sort()
print(mylist)
print("second largets number : ",mylist[-2])

[3, 6, 10, 11, 23, 24, 120]
second largets number :  24

In [ ]:
#6.	Write a Python program to find N largest elements from a list?
n = int(input('enter a number: '))
mylist_1 = [10,11,24,23,120,6,3,24,333,54]
mylist_1.sort()
print(mylist_1)
print(f"{n}th largest elemnt in list is: {mylist_1[n-1]} ")

enter a number: 3
[3, 6, 10, 11, 23, 24, 24, 54, 120, 333]
3th largest elemnt in list is: 10

In [ ]:
#7.	Write a Python program to print even numbers in a list?

In [ ]:
mylist_2 = [10,11,24,23,120,6,3,24,333,54]

for i in mylist_2 :
  if i % 2 == 0:
    print(i)

10
24
120
6
24
54

In [ ]:
#8.	Write a Python program to print odd numbers in a List?

In [ ]:
mylist_3 = [10,11,24,23,120,6,3,24,333,54]
for i in mylist_2 :
  if i % 2 != 0:
    print(i)

11
23
3
333

In [ ]:
#9.	Write a Python program to Remove empty List from List?
mylist_3 = [10,11,[],6,3,[],333,[],[],54]

new_list = [x  for x in mylist_3  if x]
print(new_list)

[10, 11, 6, 3, 333, 54]

In [ ]:
#10.	Write a Python program to Cloning or Copying a list?

In [ ]:
#option1 - slicing Operator
mylist_4 = [10,11,24,23,120,6,3,24,333,54]
mylist_4_copy = mylist_4[:]
print(mylist_4_copy)

[10, 11, 24, 23, 120, 6, 3, 24, 333, 54]

In [ ]:
#option -2  .extend list method
mylist_4_copy1 = [] #if blank list allready created
mylist_4_copy1.extend(mylist_4)
print(mylist_4_copy1)

[10, 11, 24, 23, 120, 6, 3, 24, 333, 54]

In [ ]:
#option -3   list() method
mylist_4_copy2 = list(mylist_4)
print(mylist_4_copy2)

[10, 11, 24, 23, 120, 6, 3, 24, 333, 54]

In [ ]:
#option -4 copy() method
mylist_4_copy3 = mylist_4.copy()
print(mylist_4_copy3)

[10, 11, 24, 23, 120, 6, 3, 24, 333, 54]

In [ ]:
#option -5 List comprehension method
mylist_4_copy4 = [i for i in mylist_4 ]
print(mylist_4_copy4)

[10, 11, 24, 23, 120, 6, 3, 24, 333, 54]

In [44]:
#11.	Write a Python program to Count occurrences of an element in a list?

In [45]:
from collections import Counter
mylist_5 = [10,11,24,23,120,6,10,10,3,3,3,24,333,24,24,24,120,120,54]
dic = Counter(mylist_5)
print(dic) #elemnt occurences will be represented

Counter({24: 5, 10: 3, 120: 3, 3: 3, 11: 1, 23: 1, 6: 1, 333: 1, 54: 1})